body {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    align-items: center;
    margin:0;
    }
    
    .nav-container {
    display: flex;
    justify-content: space-around;
    background-color:#64a3ff;
    background-size: cover;
    align-items: center;
    width:100%;
    height: 80px;
   }

    h2 {
    font-size: 20px;
    font-weight: 800;
    color: #37003c;
    }

    .heading {
     color:#37003c;
     border: 1px solid white;
     text-align: center;
     font-size: 20px; 
    }
    
    .main {
    padding:0px 150px 150px 150px;
    }

    .fixt {
    display: flex;
    justify-content: center;
    color:#37003c;
    font-weight: 800;
    font-size: 32px;
    margin: 80px 0px 80px 0px;
    }

    .match-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    font-size: 11px;
    font-weight: 800;
    color:#37003c;
    width:800px;
    border-radius: 10px;
    margin-bottom: 60px;
    }

    .fixture-card {
    width: 100%;
    height: 80px;   
    display: flex;
    align-items: center;
    line-height: 3em;
    flex-direction: row;
    border-radius: 6px;
    background-color: white;
    margin-bottom: 2px;
    }

    .fixture-card h3 {
     display: flex;
     width: 150px;
     order: 3;
     flex-direction: column;
     font-size: 18px;
     font-weight: 800;
     margin-left: 20px;
    
    }

    .fixture-card p {
    display: flex;
    justify-content: start;
    padding: 0px 20px 0 25px;
    order: 1;
    font-size: 18px;
    font-weight: 800;
    }

    span {
    display: flex;
    justify-content: end;
    order: 4;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    margin-left: 50%;
    }
    
    .home-goals {
    margin-left: 12px;
        
}
    
    .away-goals {
    margin-right: 6px;
    }
    
    .leaguetable {
    display:flex;
    justify-content: center;
    width: auto;
    border-radius: 10px;
    background-color: white;
    box-sizing: content-box;
    line-height: 40px;
    position: static;
    padding: 2px;
   }

   .football-table {
    padding: 2px;
    width: 100%;
    border-collapse: collapse;
   }
    .table-row {
    border-bottom: 2px solid aliceblue;   
    }
    .football-table th, .football-table td {
    padding: 2px;
    text-align: center;
    }
    
    .football-table td:nth-child(2) {
    text-align: left;
    }

    .football-table th {
    font-weight: 800;
    }

    .football-table td:nth-child(2) {
    padding-right: 20px;   
    }   
    .footer {
    width: 100%;
    height: 80px;
    margin: 0;
    background-color: #37003c;
    }