body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    }
    
    .nav-container {
    display: flex;
    justify-content: space-around;
    background-color:#64a3ff;
    background-size: cover;
    align-items: center;
    width:100%;
    height: 80px;
   }

    h2 {
    font-size: 20px;
    font-weight: 800;
    color: #37003c;
    }

    .heading {
     color:#37003c; 
     text-align: center;
     font-size: 20px; 
    }
    
    .main {
    padding:0px 150px 150px 150px;
    background-color: aliceblue; 
    }

    .fixt {
    display: flex;
    justify-content: center;
    color:#37003c;
    font-weight: 800;
    margin: 80px 0px 80px 0px;
    }
    .match-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    font-size: 11px;
    font-weight: 800;
    color:#37003c;
    width:800px;
    border-radius: 10px;
    margin-bottom: 60px;
    }

    .fixture-card {
    width: 100%;
    height: 80px;   
    display: flex;
    align-items: center;
    line-height: 3em;
    flex-direction: row;
    border-radius: 6px;
    background-color: white;
    margin-bottom: 2px;
    }

    .fixture-card h3 {
     display: flex;
     width: 150px;
     order: 3;
     flex-direction: column;
     font-size: 18px;
     font-weight: 800;
     margin-left: 20px;
    
    }

    .fixture-card p {
    display: flex;
    justify-content: start;
    padding: 0px 20px 0 25px;
    order: 1;
    font-size: 18px;
    font-weight: 800;
    }

    span {
    display: flex;
    justify-content: end;
    order: 4;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    margin-left: 50%;
    }
    
    .home-goals {
        /*font-size: 16px;*/
        margin-left: 12px;
        
    }
    
    .away-goals {
    margin-right: 6px;
    }
    
    .leaguetable {
    display:flex;
    justify-content: center;
    width: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    box-sizing:content-box;
    line-height:14px;
    position:static;
    padding: 2px;
   }

   .football-table {
    padding: 4px;
    }
    
    .football-table tr {
    background-color: transparent;
    border: 1px aliceblue;
    }
    
    .football-table td {
    padding: 4px;
    margin-bottom: 1px;
    }

    .football-table th {
    padding: 4px;
    margin-bottom: 1px;
    background-color: #f2f2f2;
    }

    .footer {
    width: 100%;
    height: 80px;
    margin: 0;
    background-color: #37003c;
    }